.headline {
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  font-weight: bolder;
  padding: 10px;
  letter-spacing: 5px;
  font-size: 30px;
}

.headline:hover {
  text-decoration: none;
  color: #707070;
}

.headline:visited {
  text-decoration: none;
  color: #707070;
}

.headline-div{
  text-align: center;
}

.wrapper{
  box-shadow: 5px 10px #888888;
}
