.headline {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #707070;
  font-weight: bold;
}

.headline:hover {
  text-decoration: none;
  color: #707070;
}

.headline:visited {
  text-decoration: none;
  color: #707070;
}

.headline-div{
  text-align: center;
}
