.header-headline{
	font-family: 'Montserrat', sans-serif;
	color: #707070;
	font-weight: bolder;
	padding: 10px;
	letter-spacing: 5px;
	font-size: 30px;
}

header{
	background-color: #ffffff;
}

.header-headline:hover{
	text-decoration: none;
	color: #707070;
}

.header-headline:visited{
	text-decoration: none;
	color: #707070;
}

.header-div{
	text-align: center;
}

.header-boxshadow{
	box-shadow: 0px 3px 6px #c7c7c7;
	margin-bottom: 20px;
}

.footer{
	padding-top: 20px;
	background-color: #f2f2f2;
}

.footer-link{
	font-family: 'Montserrat', sans-serif;
	color: #565656;
}

.footer-link:hover{
	text-decoration: none;
	color: #565656;
}

.footer-link:visited{
	text-decoration: none;
	color: #565656;
}

.text-right{
	text-align: right;
}

.normal-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #707070;
}

.centered-text{
	text-align: center;
}

.justified-text{
	text-align: justify;
}

.button-box-blue{
	background-color: #0077b5;
	border: none;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	line-height: 1;
	color: #ffffff;

	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 20%;
	padding-right: 20%;
	
	margin-top: 8px;
	
	border-radius: 2px;
}

.button-box-grey{
	background-color: #313335;
	border: none;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	line-height: 1;
	color: #ffffff;

	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 20%;
	padding-right: 20%;
	
	margin-top: 8px;
	
	border-radius: 2px;
}

.spaceing-gallary{
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-6{
	padding-right: 8px;
	padding-left: 8px;
}

.col-md-4{
	padding-left: 8px;
	padding-right: 8px;
}

body{
	background-color: #f2f2f2;
}