.header-headline{
	font-family: 'Montserrat', sans-serif;
	color: #707070;
	font-weight: bolder;
	padding: 10px;
	letter-spacing: 5px;
	font-size: 30px;
}

header{
	background-color: #ffffff;
}

.header-headline:hover{
	text-decoration: none;
	color: #707070;
}

.header-headline:visited{
	text-decoration: none;
	color: #707070;
}

.header-div{
	text-align: center;
}

.header-boxshadow{
	box-shadow: 0px 3px 6px #c7c7c7;
	margin-bottom: 20px;
}

.footer{
	padding-top: 20px;
	background-color: #f2f2f2;
}

.footer-link{
	font-family: 'Montserrat', sans-serif;
	color: #565656;
}

.footer-link:hover{
	text-decoration: none;
	color: #565656;
}

.footer-link:visited{
	text-decoration: none;
	color: #565656;
}

.text-right{
	text-align: right;
}

.normal-text{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #f2f2f2;
}