<header class="site-header">

  {% include analytics.html %}

  <div class="container">
    <div class="row">
    {% if page.title %}
      <div class="col-sm-1">
        <div class="backarrow">
            <img src="/open-iconic/svg/arrow-left.svg" alt="arrow-left">
        </div>
      </div>
    {% endif %}

    <div class="col-lg">
      <div class="headline-div">
        <a class="headline" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
    </div>
    </div>
  </div>

</header>
